---
layout: layout.njk
pageTitle: " - home"
eleventyNavigation:
  key: Home
  order: 0
---

<h1>Welcome to {{ author.penName }}'s Website</h1>
<div class="container">
  <div class="text-section">
  {% set mainBook = books[0] %} {# Assuming first book is featured #}
      <h2>{{ mainBook.name }}  by {{ author.penName }}</h2>
      <p>A thrilling {{ author.genre }} series.</p>
      <p>Like Altered Carbon with magic and dragons.</p>
      <p>Magic & Metal is available on Spotify and wherever you get your podcasts.</p>
  </div>

  <!-- Nunjucks Template for Clickable Image -->

  
  <div class="book-image">
      <a href="{{ mainBook.link }}">
          <img src="{{ mainBook.image }}" alt="{{ mainBook.name }} Book Cover">
      </a>
  </div>
</div>
<div class='intro'>
    <p>Genres: {{ author.genre }}</p>
    <a href="{{ author.social.twitter }}">Twitter</a>
    <a href="{{ author.social.facebook }}">Facebook</a>
    <!-- Optional image placeholder -->
    <!-- img src='path-to-your-image.jpg' alt='A cozy nook for writing' style='max-width=100%; height:auto;' -->
    <!-- Call-to-action -->
    <p><strong>Join me on this literary journey as we craft narratives that captivate hearts and minds.</strong></p>
</div>
<ul>
{% for post in collections.blog %}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>
